@media screen {
    div#dbt_btn {
        position: fixed;
        top: 30px;
        left: 30px;
        user-select: none;
        border: 1px solid black;
        padding: 5px 10px;
        z-index: 1000;
    }

    div#dbt_btn:hover {
        cursor: pointer;
    }

    body.dark {
        background-color: black;
        /* color-scheme: dark; */
        font-weight: unset;
    }

    body.dark>* {
        filter: invert(1) /*grayscale(1)*/;
    }
}

@media print {
    div#dbt_btn {
        display: none;
    }
}